$w: 100 / 1920;
$h: 100 / 1080;

.z-table {
    :deep(.el-table) {
        background-color: transparent;
        color: transparent; // 去掉失去焦点出现虚线
        .el-table__header {
            thead {
               
                th{
                    color: #fff;
                    background: rgba(4, 50,114) !important;
                    border-color: transparent;
                }
                tr {
                    background-color: transparent;
                }
                .el-table__cell {
                    background-color: transparent;
                    // padding: 8vh *@h 8vw*@w;
                    // font-size: 14vh *@h;
                    // font-size: 14px;
                }
            }
        }
        .cell {
            // padding: 8vh *@h 8vw*@w;
            line-height: normal;
        }

        tbody {
            .el-table__row {
                background-color: transparent;
                color: #fff;
                &:hover > td {
                    background-color: transparent;
                }
                td{
                    border-color: transparent;
                }
                &:nth-child(odd) {
                    //background-color: rgba(12, 112, 189, 0.3);
                }
            }
            .el-table__row--striped {
            }
        }
        .el-table__inner-wrapper::before{
            background-color: transparent; // 最下面的一条横线
        }
    }
}
