/* index.js */
.arming-time-container {
	margin: 0 auto;
}
.batch-operation {
	padding-left: 30px;
}
.batch-delete {
	color: #ff0000 !important;
	cursor: pointer;
}
.icon {
	margin-right: 5px;
}
.theader {
	display: flex;
	height: 54px;
	padding: 0 20px;
	font-weight: 500;
	color: rgb(0 0 0 / 85%);
	background: #e4f0ff;
}
.period {
	width: 752px;
	height: 100%;
	padding: 16px 15px;
	text-align: left;
}

/* index.js */

/* Day.js */
.day {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-end;
	margin-bottom: 10px;
}
.timeline {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.time {
	display: flex;

	/* 计算边框，防止边框不对齐 */
	width: 601px;
}
.hour {
	display: inline-flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 24px;
	font-size: 12px;
	text-align: center;
}
.line {
	float: left;
	width: 0;
	height: 5px;
	border-left: 1px solid #d2d2d2;
}
.slider {
	position: relative;

	/* 保证内容区一定是567px 方便计算 */
	box-sizing: content-box;
	width: 576px;
	height: 16px;
	background: #ffffff;
	border: 1px solid #d2d2d2;
	-webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}
.slider * {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}
.timeline-track {
	position: absolute;
	left: 0;
	z-index: 1;
	box-sizing: border-box;
	height: 16px;

	/* border-radius: 6px; */
	background-color: rgb(84 194 29);
}
.timeline-track:hover {
	cursor: pointer;
}
.disabled {
	width: 60px;
	height: 100%;
	margin-left: 10px;
	color: rgb(0 0 0 / 20%) !important;
	cursor: no-drop;
}
.copy {
	width: 60px;
	height: 100%;
	color: #096dd9 !important;
	cursor: pointer;
}
.delete {
	width: 60px;
	height: 100%;
	margin-left: 10px;
	color: #ff0000 !important;
	cursor: pointer;
}

/* Day.js */

/* Track.js */
.track-time {
	position: absolute;
	width: 2px;
	height: 14px;
	background-color: #000000;
}

/* Track.js */

/* CopyContainer.js */
.pop-footer {
	display: flex;
	justify-content: flex-end;
	margin: 20px 0 10px;
}

/* CopyContainer.js */

/* EditTime.js */
.edit-time {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}
.edit-time-container {
	position: relative;
}
.time-content {
	/* width: 150px; */
}
.time-label {
	margin: 0 15px;
}
.time-wapper {
	position: relative;
	width: 136px;
}
.input-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}

/* EditTime.js */

/* 公共部分 */
.checkbox {
	width: 60px;
	height: 100%;
	padding: 16px !important;
	text-align: center;
}
.date {
	width: 30px;
	height: 18px;
	line-height: 18px;
}
.action {
	width: 100px;
	height: 18px;
	line-height: 18px;
}

/* 公共部分 */
