$w: 100 / 1920;
$h: 100 / 1080;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

.bold {
    font-weight: bold;
}

.flex1 {
    flex: 1;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-middle {
    display: flex;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.space-around {
    display: flex;
    justify-content: space-around;
}

.flex-wrap {
    flex-wrap: wrap;
}

.pointer {
    cursor: pointer;
}

.border {
    border: 1px solid #fff;
}

input {
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
}
